version: "3.9"
networks:
  app:
    external: true

services:
  dev_api:
    image: "backend:dev"
    restart: always
    env_file:
      - ./.env
    networks:
      - app
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.dev_api.loadbalancer.server.port=8080"
      - "traefik.http.services.dev_api.loadbalancer.server.scheme=http"
      - "traefik.http.routers.dev_api.entrypoints=websecure"
      - "traefik.http.routers.dev_api.tls.certresolver=production"
      - "traefik.http.routers.dev_api.rule=Host(`dev_api.admondtamang.com.np`)"
