networks:
  app:
    external: true

services:
  app-dev:
    image: "app-web:dev"
    restart: always
    networks:
      - app
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.app-dev.loadbalancer.server.port=3000"
      - "traefik.http.routers.app-dev.entrypoints=websecure"
      - "traefik.http.routers.app-dev.tls.certresolver=production"
      - "traefik.http.routers.app-dev.rule=Host(`dev.admondtamang.com.np`)"
